# The virtual env
venv/
.venv/
# From django
db.sqlite3
*.log

#python cache
__pycache__/
*.py[cod]

# Coverage reports
htmlcov/
.coverage
*.cover

frontend/node_modules/
# playwright
node modules

# .idea folder
.idea
